<h1><%= @sub.name %> Topics </h1>
<%= link_to 'Create New Topic', new_sub_topic_path(@sub) %>
<ul>
  <% @topics.each do |topic| %>
    <li>
      <%= link_to topic.name, sub_topic_path(@sub, topic) %>
    </li>
  <% end %>
</ul>
 <%= link_to 'Back to Subs', subs_path %>
