<h1> Click To View Sub </h1>
<%= link_to "Create New Sub", new_sub_path %>

<ul>
  <% @subs.each do |sub| %>
    <li>
      <%= link_to sub.name, sub %> <!-- sub is equal to sub_path(sub.id) -->
    </li>
  <% end %>
</ul>
